Repository pinecone-studio/pinecone-intern-monorepo-2, pull requests merged in 2025-06, with the labels that each got.

#1770 feat(added review): added review query and small model change
  apps/2CD/hotel/backend/specs/resolvers/queries/reviews/review-query.spec.ts
  apps/2CD/hotel/backend/src/models/review.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/queries/review-query.ts
  apps/2CD/hotel/backend/src/types/review.ts
Labels: PR status: code ready, backend, hotel

#1689 feat(backend): update delete request mutations
  apps/2CD/concert/backend/specs/resolvers/mutations/concert/delete-concert.spec.ts
  apps/2CD/concert/backend/specs/resolvers/mutations/concert/updata-concert.spec.ts
  apps/2CD/concert/backend/specs/resolvers/queries/requests/get-all-requists.spec.ts
  apps/2CD/concert/backend/specs/resolvers/queries/requests/get-pending-requests.spec.ts
  apps/2CD/concert/backend/src/resolvers/mutations/concert/delete-concert.ts
  apps/2CD/concert/backend/src/resolvers/mutations/concert/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/concert/update-concert.ts
  apps/2CD/concert/backend/src/resolvers/queries/requests/get-all-pending-request.ts
  apps/2CD/concert/backend/src/resolvers/queries/requests/get-all-requists.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
  apps/2CD/concert/backend/src/zodSchemas/concert.zod.ts
Labels: PR status: code ready, backend, concert

#1772 [SERVICE:concert] add user info update mutations,update req mutation
  apps/2CD/concert/backend/specs/resolvers/mutations/request/update-req.spec.ts
  apps/2CD/concert/backend/specs/resolvers/mutations/user/update-pass.spec.ts
  apps/2CD/concert/backend/specs/resolvers/mutations/user/update-user.spec.ts
  apps/2CD/concert/backend/src/models/user.model.ts
  apps/2CD/concert/backend/src/resolvers/mutations/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/request/create-request.ts
  apps/2CD/concert/backend/src/resolvers/mutations/request/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/request/update-request.ts
  apps/2CD/concert/backend/src/resolvers/mutations/user/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/user/update-password.ts
  apps/2CD/concert/backend/src/resolvers/mutations/user/update-user.ts
  apps/2CD/concert/backend/src/schemas/requist.schema.ts
  apps/2CD/concert/backend/src/schemas/user.schema.ts
  apps/2CD/concert/backend/src/zodSchemas/user.zod.ts
Labels: PR status: code ready, backend, concert

#1769 1760 Implemeneted message component
  apps/2CD/tinder/backend/specs/resolvers/mutations/like/create-like.spec.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/like/create-like.ts
  apps/2CD/tinder/frontend/src/app/layout.tsx
  apps/2CD/tinder/frontend/src/app/message/[matchId]/page.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/Chat.tsx
  apps/2CD/tinder/frontend/src/app/message/_utils/get-my-matches.ts
  apps/2CD/tinder/frontend/src/app/message/page.tsx
  apps/2CD/tinder/frontend/src/app/page.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloClient.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2CD/tinder/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, backend, tinder

#1788 feat(concert frontend): component select start hour creating concert …
  apps/2CD/concert/frontend/specs/ticket/SelectStartHour.spec.tsx
  apps/2CD/concert/frontend/src/app/(admin)/ticket/_components/SelectStartHour.tsx
Labels: PR status: code ready, frontend, concert

#1792 feat(concert frontend): select end time component
  apps/2CD/concert/frontend/specs/ticket/SelectEndTime.spec.tsx
  apps/2CD/concert/frontend/src/app/(admin)/ticket/_components/SelectEndHour.tsx
  apps/2CD/concert/frontend/src/app/(admin)/ticket/_components/index.ts
Labels: PR status: code ready, frontend, concert

#1786 feat(hotel): hotel card
  apps/2CD/hotel/backend/project.json
  apps/2CD/hotel/frontend/cypress/tsconfig.json
  apps/2CD/hotel/frontend/cypress/utils/all-pages.json
  apps/2CD/hotel/frontend/src/app/homeTest/_components/hotel-card.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/page.tsx
  apps/2CD/hotel/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, backend, hotel

#1810 fix: clerk webhook function fix
  apps/2CD/tinder/backend/specs/resolvers/clerk.spec.ts
  apps/2CD/tinder/backend/src/pages/api/webhooks/clerk.ts
Labels: PR status: code ready, backend, tinder

#1824 feat(restaurant backend): send otp
  apps/2CD/restaurant/backend/specs/resolvers/mutations/otp/sendOtp.spec.ts
  apps/2CD/restaurant/backend/src/models/otp-model.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/otp/send-otp.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/user/change-email.ts
  apps/2CD/restaurant/backend/src/schemas/index.ts
  apps/2CD/restaurant/backend/src/schemas/otp-schema.ts
  apps/2CD/restaurant/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, restaurant

#1826 perf(hotel): add get-all-room and get-all-booking populate
  apps/2CD/hotel/backend/specs/resolvers/queries/booking/get-all-bookings.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/queries/room/get-all-rooms.spec.ts
  apps/2CD/hotel/backend/src/resolvers/queries/booking/get-all-booking.ts
  apps/2CD/hotel/backend/src/resolvers/queries/room/get-all-rooms.ts
  apps/2CD/hotel/backend/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, hotel

#1817 [WEB]: now users can see their own matches and messages
  .nx/workspace-data/d/daemon.log
  apps/2CD/tinder/backend/next-env.d.ts
  apps/2CD/tinder/backend/src/app/api/graphql/route.ts
  apps/2CD/tinder/backend/src/handler.ts
  apps/2CD/tinder/backend/src/pages/api/webhooks/clerk.ts
  apps/2CD/tinder/backend/src/schemas/user.schema.ts
  apps/2CD/tinder/frontend/src/app/message/_features/GetMessages.tsx
  apps/2CD/tinder/frontend/src/app/message/_utils/get-my-matches.ts
  apps/2CD/tinder/frontend/src/app/message/page.tsx
  apps/2CD/tinder/frontend/src/app/page.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2CD/tinder/frontend/src/graphql/all.graphql
  apps/2CD/tinder/frontend/src/graphql/match.graphql
  apps/2CD/tinder/frontend/src/graphql/message.graphql
  apps/2CD/tinder/frontend/src/graphql/profile.graphql
  apps/2CD/tinder/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, backend, tinder

#1847 feat(added image on hotel model): small changes
  apps/2CD/hotel/backend/src/models/hotel.ts
  apps/2CD/hotel/backend/src/models/review.ts
Labels: PR status: code ready, backend, hotel

#1851 feat(add details): add
  apps/2CD/hotel/frontend/src/app/details/[id]/page.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/Description.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/HotelImage.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/HotelLocation.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/PriceDetail.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/Skeleton.tsx
  apps/2CD/hotel/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, hotel

#1857 perf(hotel): add hotel in booking schema, model(backend,frontend)
  apps/2CD/hotel/backend/specs/resolvers/mutations/booking/create-booking.spec.ts
  apps/2CD/hotel/backend/src/models/booking.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/booking/create-booking.ts
  apps/2CD/hotel/backend/src/schemas/booking.schema.ts
  apps/2CD/hotel/frontend/src/app/homeTest/_components/amenities-section.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/_components/hotel-card.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/_components/popular-hotel.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/_features/hotel-card.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/page.tsx
Labels: PR status: code ready, frontend, backend, hotel

#1859 feat(client n server): (73)
  apps/2CD/tinder/backend/specs/resolvers/mutations/message/send-message.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/match/get-my-matches.spec.ts
  apps/2CD/tinder/backend/src/app/api/graphql/route.ts
  apps/2CD/tinder/backend/src/handler.ts
  apps/2CD/tinder/backend/src/resolvers/queries/match/get-my-matches.ts
  apps/2CD/tinder/backend/src/schemas/message.schema.ts
  apps/2CD/tinder/frontend/index.d.ts
  apps/2CD/tinder/frontend/src/app/(auth)/layout.tsx
  apps/2CD/tinder/frontend/src/app/(auth)/login/page.tsx
  apps/2CD/tinder/frontend/src/app/(auth)/profile/page.tsx
  apps/2CD/tinder/frontend/src/app/(auth)/sign-up/page.tsx
  apps/2CD/tinder/frontend/src/app/auth/sign-in/[[...sign-in]]/page.tsx
  apps/2CD/tinder/frontend/src/app/auth/sign-up/[[...sign-up]]/page.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/SendMessage.tsx
  apps/2CD/tinder/frontend/src/app/message/_features/GetMessages.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2CD/tinder/frontend/src/components/providers/AuthProvider.tsx
  apps/2CD/tinder/frontend/src/components/sync-clerk-id.ts
Labels: frontend, backend, tinder

#1849 feat: added query (get user by clerid), (get all user data)
  apps/2CD/tinder/backend/specs/resolvers/queries/user/get-all-users.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/user/me.spec.ts
  apps/2CD/tinder/backend/src/resolvers/index.ts
  apps/2CD/tinder/backend/src/resolvers/queries/user/get-all-users.ts
  apps/2CD/tinder/backend/src/resolvers/queries/user/me.ts
  apps/2CD/tinder/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, tinder

#1870 perf(hotel): change folder
  apps/2CD/hotel/frontend/src/app/homeTest/_features/hotel-card.tsx
  apps/2CD/hotel/frontend/src/app/homeTest/page.tsx
  apps/2CD/hotel/frontend/src/app/page.tsx
  apps/2CD/hotel/frontend/src/components/hotel/amenities-section.tsx
  apps/2CD/hotel/frontend/src/components/hotel/hotel-card.tsx
  apps/2CD/hotel/frontend/src/components/hotel/most-booked-hotel.tsx
  apps/2CD/hotel/frontend/src/components/hotel/popular-hotel.tsx
  apps/2CD/hotel/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, hotel

#1872 feat(frontend search result): frontend Search Result
  apps/2CD/hotel/frontend/src/app/search/_components/CheckInSection.tsx
  apps/2CD/hotel/frontend/src/app/search/_components/FilteredHotels.tsx
  apps/2CD/hotel/frontend/src/app/search/page.tsx
  apps/2CD/hotel/frontend/src/components/footer/footer-reserve.tsx
  apps/2CD/hotel/frontend/src/public/Cover Image.png
  apps/2CD/hotel/frontend/src/public/Star.svg
Labels: PR status: code ready, frontend, hotel

#1875 feat(client and server): now users can send a message to their matche…
  apps/2CD/tinder/backend/specs/resolvers/mutations/message/send-message.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/message/get-message.spec.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/message/send-message.ts
  apps/2CD/tinder/backend/src/resolvers/queries/message/get-message.ts
  apps/2CD/tinder/frontend/specs/_components/sync-clerk-id.spec.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/MatchList.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/MessageView.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/SendMessage.tsx
  apps/2CD/tinder/frontend/src/app/message/_features/GetMessages.tsx
  apps/2CD/tinder/frontend/src/app/message/_features/Messages.tsx
  apps/2CD/tinder/frontend/src/app/message/page.tsx
  apps/2CD/tinder/frontend/src/graphql/match.graphql
  apps/2CD/tinder/frontend/src/graphql/user.graphql
Labels: PR status: code ready, frontend, backend

#1845 feat: button that reduces food price
  apps/2CD/restaurant/frontend/cypress/e2e/(main)/homeContainer.cy.tsx
  apps/2CD/restaurant/frontend/jest.config.ts
  apps/2CD/restaurant/frontend/src/app/Home/components/HomeContainer.tsx
Labels: PR status: code ready, frontend, restaurant

#1881 feat(restaurant-frontend): admin-page setup
  apps/2CD/restaurant/frontend/cypress/utils/all-pages.json
  apps/2CD/restaurant/frontend/src/app/admin/_components/MenuBar.tsx
  apps/2CD/restaurant/frontend/src/app/admin/page.tsx
Labels: PR status: code ready, frontend, restaurant

#1892 fix: fixes on get-user-by-id get-all-user
  apps/2CD/tinder/backend/specs/resolvers/queries/user/get-all-users.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/user/me.spec.ts
  apps/2CD/tinder/backend/src/resolvers/queries/user/get-all-users.ts
  apps/2CD/tinder/backend/src/resolvers/queries/user/me.ts
  apps/2CD/tinder/backend/src/schemas/profile.schema.ts
  apps/2CD/tinder/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, tinder

#1894 feat(client): clerk id stored on context
  apps/2CD/tinder/frontend/specs/_components/sync-clerk-id.spec.tsx
  apps/2CD/tinder/frontend/specs/_components/syncclerkid.spec.tsx
  apps/2CD/tinder/frontend/src/app/layout.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloClient.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2CD/tinder/frontend/src/components/providers/ClerkIdProvider.tsx
  apps/2CD/tinder/frontend/src/components/sync-clerk-id.ts
  apps/2CD/tinder/frontend/src/components/syncclerkid.ts
Labels: PR status: code ready, frontend, tinder

#1887 feat(hotel): get most booking hotel in resolver
  apps/2CD/hotel/backend/specs/resolvers/queries/booking/most-booked-hotel.spec.ts
  apps/2CD/hotel/backend/src/models/booking.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/queries/booking/most-booked-hotel.ts
  apps/2CD/hotel/backend/src/schemas/booking.schema.ts
Labels: PR status: code ready, backend, hotel

#1874 feat(hotel): add most-reviewed-hotel in resolver
  apps/2CD/hotel/backend/specs/resolvers/queries/reviews/most-reviewed-hotel.spec.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/queries/most-reviewed-hotel.ts
  apps/2CD/hotel/backend/src/schemas/review-schema.ts
Labels: PR status: code ready, backend, hotel

#1876 refactor: bug fix
  apps/2CD/hotel/backend/specs/resolvers/queries/booking/get-booking-by-id.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/queries/room/get-room-for-id.spec.ts
  apps/2CD/hotel/backend/src/resolvers/queries/room/get-room-for-id.ts
  apps/2CD/hotel/backend/src/schemas/room.schema.ts
  apps/2CD/hotel/frontend/src/app/details/[id]/page.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/Description.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/HotelHeader.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/HotelImage.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/HotelLocation.tsx
  apps/2CD/hotel/frontend/src/app/details/_components/PriceDetail.tsx
Labels: PR status: code ready, frontend, backend, hotel

#1891 feat(concert:frontend): implemented the cancel request page
  apps/2CD/concert/backend/src/resolvers/queries/requests/get-all-pending-request.ts
  apps/2CD/concert/backend/src/resolvers/queries/requests/get-all-requests.ts
  apps/2CD/concert/backend/src/schemas/request.schema.ts
  apps/2CD/concert/frontend/cypress/e2e/(admin)/request-page.cy.tsx
  apps/2CD/concert/frontend/specs/admin/header-comp.spec.tsx
  apps/2CD/concert/frontend/specs/admin/update-cancel-req-modal.spec.tsx
  apps/2CD/concert/frontend/src/app/(admin)/_components/Header.tsx
  apps/2CD/concert/frontend/src/app/(admin)/request/_components/UpdateCancelReqModal.tsx
  apps/2CD/concert/frontend/src/app/(admin)/request/page.tsx
  apps/2CD/concert/frontend/src/graphql/all.graphql
Labels: PR status: code ready, backend, concert

#1910 fix(client): white screen error connected with apollo wrapper file
  apps/2CD/tinder/backend/next.config.js
  apps/2CD/tinder/backend/src/app/api/graphql/route.ts
  apps/2CD/tinder/frontend/next.config.js
  apps/2CD/tinder/frontend/src/app/layout.tsx
  apps/2CD/tinder/frontend/src/app/page.tsx
  apps/2CD/tinder/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend, backend, tinder

#1906 feat(concert:backend): added getFeaturedConcerts query
  apps/2CD/concert/backend/specs/resolvers/queries/concert/get-featured-concerts.spec.ts
  apps/2CD/concert/backend/src/resolvers/queries/concert/get-featured-concerts.ts
  apps/2CD/concert/backend/src/resolvers/queries/concert/index.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
Labels: PR status: code ready, backend, concert

#1909 feat(admin page): admin page order section
  apps/2CD/restaurant/frontend/src/app/admin/_components/DatePicker.tsx
  apps/2CD/restaurant/frontend/src/app/admin/_components/MenuBar.tsx
  apps/2CD/restaurant/frontend/src/app/admin/_components/Order.tsx
  apps/2CD/restaurant/frontend/src/app/admin/_components/OrderInfo.tsx
  apps/2CD/restaurant/frontend/src/app/admin/_components/Status.tsx
  apps/2CD/restaurant/frontend/src/app/admin/_utils/cn.ts
  apps/2CD/restaurant/frontend/src/app/admin/page.tsx
  apps/2CD/restaurant/frontend/src/graphql/queries/order/allOrder.graphql
  libs/shadcn/src/index.ts
Labels: PR status: code ready, frontend, restaurant

#1916 test(concert-frontend): concert search filter e2e test
  apps/2CD/concert/frontend/cypress/e2e/(admin)/ticket-page.cy.tsx
  apps/2CD/concert/frontend/src/app/(admin)/ticket/page.tsx
Labels: PR status: code ready, frontend, concert

#1905 feat(hotel): update popular hotel and most booked hotel in homePage
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/frontend/cypress/utils/all-pages.json
  apps/2CD/hotel/frontend/src/app/page.tsx
  apps/2CD/hotel/frontend/src/components/hotel/hotel-card.tsx
  apps/2CD/hotel/frontend/src/components/hotel/most-booked-hotel.tsx
  apps/2CD/hotel/frontend/src/components/hotel/popular-hotel.tsx
  apps/2CD/hotel/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, hotel

#1943 feat(query): get-user-booking
  apps/2CD/concert/backend/specs/resolvers/queries/booking/get-user-booking-query.spec.ts
  apps/2CD/concert/backend/src/resolvers/queries/booking/get-user-booking.ts
  apps/2CD/concert/backend/src/resolvers/queries/booking/index.ts
  apps/2CD/concert/backend/src/resolvers/queries/index.ts
  apps/2CD/concert/backend/src/schemas/booking.schema.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
Labels: PR status: code ready, backend, concert

#1954 feat(restaurant backend): all table schema
  apps/2CD/restaurant/backend/specs/resolvers/mutations/table/create-table.spec.ts
  apps/2CD/restaurant/backend/specs/resolvers/queries/table/get-all-table.spec.ts
  apps/2CD/restaurant/backend/src/models/table-model.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/table/create-table.ts
  apps/2CD/restaurant/backend/src/resolvers/queries/index.ts
  apps/2CD/restaurant/backend/src/resolvers/queries/table/get-all-tables.ts
  apps/2CD/restaurant/backend/src/schemas/index.ts
  apps/2CD/restaurant/backend/src/schemas/table.schema.ts
Labels: PR status: code ready, backend, restaurant

#1959 test(concert frontend): e2e test add mock data
  apps/2CD/concert/frontend/cypress/e2e/(admin)/ticket-page.cy.tsx
Labels: PR status: code ready, frontend, concert

#1832 feat: added webhook that creates user in db
  apps/2CD/hotel/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/2CD/hotel/backend/src/app/api/webhooks/route.ts
  apps/2CD/hotel/backend/src/models/user.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/create-user.ts
  apps/2CD/hotel/backend/src/schemas/user-schema.ts
Labels: PR status: code ready, backend, hotel
