Repository pinecone-studio/pinecone-intern-monorepo-2, pull requests merged in 2025-05, with the labels that each got.

#1572 feat: change install commands
  .github/workflows/ci.yml
Labels: PR status: code ready

#1577 fix(frontend/project.json): fix deploy-prod
  apps/2CD/concert/backend/project.json
  apps/2CD/concert/frontend/project.json
Labels: PR status: code ready, frontend, concert

#1581 1580 cd error fixing
  apps/2CD/tinder/backend/project.json
  apps/2CD/tinder/frontend/main.tf
  apps/2CD/tinder/frontend/project.json
  apps/2CD/tinder/frontend/src/app/page.tsx
  apps/2CD/tinder/frontend/terraform.tfvars
Labels: PR status: code ready, frontend, backend, tinder

#1591 feat(apps/2cd/hotel/backend): admin schema created
  apps/2CD/hotel/backend/src/models/admin-schema.ts
Labels: PR status: code ready, backend

#1593 feat(hotel): add room schema and room service schema
  apps/2CD/hotel/backend/src/models/room-schema.ts
  apps/2CD/hotel/backend/src/models/room-service-schema.ts
Labels: PR status: code ready, backend

#1616 feat(backend): like resolver with jest test
  apps/2CD/tinder/backend/specs/resolvers/mutations/like/create-like.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/like/get-likes-from-user.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/like/get-likes-to-user.spec.ts
  apps/2CD/tinder/backend/src/models/like.ts
  apps/2CD/tinder/backend/src/resolvers/index.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/like/create-like.ts
  apps/2CD/tinder/backend/src/resolvers/queries/like/get-likes-from-user.ts
  apps/2CD/tinder/backend/src/resolvers/queries/like/get-likes-to-user.ts
  apps/2CD/tinder/backend/src/schemas/index.ts
  apps/2CD/tinder/backend/src/schemas/like.schema.ts
  apps/2CD/tinder/backend/tsconfig.json
Labels: PR status: code ready, backend, tinder

#1618 feat: fixed lint
  .gitignore
  apps/2CD/hotel/backend/specs/resolvers/mutations/add-hotel.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/queries/get-all-hotels.spec.ts
  apps/2CD/hotel/backend/src/models/room-schema.ts
  apps/2CD/hotel/backend/src/models/room-service-schema.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/add-hotel.ts
  apps/2CD/hotel/backend/src/resolvers/queries/get-all-hotels.ts
  apps/2CD/hotel/backend/src/schemas/common.schema.ts
  apps/2CD/hotel/backend/src/types/room-types.ts
  apps/2CD/hotel/backend/src/utils/connect-to-db.ts
Labels: PR status: code ready, backend, hotel

#1621 fix: like created
  apps/2CD/tinder/backend/src/models/match.ts
  apps/2CD/tinder/backend/src/models/message.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/like/create-like.ts
  apps/2CD/tinder/backend/src/schemas/like.schema.ts
  apps/2CD/tinder/backend/src/utils/connect-to-db.ts
Labels: PR status: code ready, backend, tinder

#1622 docs: path shineer nemsen
  apps/2CD/restaurant/frontend/src/app/Home/layout.tsx
  apps/2CD/restaurant/frontend/src/app/Home/navigation/components/AboutUs.tsx
  apps/2CD/restaurant/frontend/src/app/Home/navigation/components/AccountEdit.tsx
  apps/2CD/restaurant/frontend/src/app/Home/navigation/components/OrderHistory.tsx
  apps/2CD/restaurant/frontend/src/app/Home/navigation/components/Wallet.tsx
  apps/2CD/restaurant/frontend/src/app/Home/navigation/page.tsx
  apps/2CD/restaurant/frontend/src/app/Home/page.tsx
  apps/2CD/restaurant/frontend/src/app/login/page.tsx
  apps/2CD/restaurant/frontend/src/app/page.tsx
  apps/2CD/restaurant/frontend/src/app/signUp/page.tsx
Labels: PR status: code ready, frontend, Team-2

#1631 feat(backend): add artist model, schema, create artist mutation
  apps/2CD/concert/backend/specs/resolvers/mutations/artist/create-artist-mutation.spec.ts
  apps/2CD/concert/backend/specs/resolvers/mutations/concert/createconcert-mutetion.spec.ts
  apps/2CD/concert/backend/src/models/artist.model.ts
  apps/2CD/concert/backend/src/models/concert.model.ts
  apps/2CD/concert/backend/src/models/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/artist/create-artist-mutation.ts
  apps/2CD/concert/backend/src/resolvers/mutations/artist/index.ts
  apps/2CD/concert/backend/src/resolvers/mutations/concert/create-concert.mutation.ts
  apps/2CD/concert/backend/src/resolvers/mutations/index.ts
  apps/2CD/concert/backend/src/schemas/artist.schema.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
  apps/2CD/concert/backend/src/schemas/index.ts
  apps/2CD/concert/backend/src/zodSchemas/artist.zod.ts
Labels: PR status: code ready, backend, concert

#1623 feat: match queries with tests
  apps/2CD/tinder/backend/specs/resolvers/queries/match/get-match-by-id.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/match/get-my-matches.spec.ts
  apps/2CD/tinder/backend/src/models/user.ts
  apps/2CD/tinder/backend/src/resolvers/index.ts
  apps/2CD/tinder/backend/src/resolvers/queries/match/get-match-by-id.ts
  apps/2CD/tinder/backend/src/resolvers/queries/match/get-my-matches.ts
  apps/2CD/tinder/backend/src/schemas/match.schema.ts
Labels: PR status: code ready, backend, tinder

#1663 feat(hotel): write createroom test
  apps/2CD/hotel/backend/specs/resolvers/mutations/create-room.spec.ts
  apps/2CD/hotel/backend/src/models/hotel.ts
  apps/2CD/hotel/backend/src/models/room.model.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/room/create-room.ts
  apps/2CD/hotel/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, hotel

#1667 feat: create message
  apps/2CD/tinder/backend/specs/resolvers/mutations/like/create-like.spec.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/like/create-like.ts
Labels: PR status: code ready, backend, tinder

#1670 feat(restaurant frontend): restaurant login section frontend no funct…
  apps/2CD/restaurant/frontend/src/app/login/page.tsx
  apps/2CD/restaurant/frontend/src/app/resetPassword/page.tsx
  apps/2CD/restaurant/frontend/src/app/signUp/page.tsx
Labels: PR status: code ready, frontend, restaurant

#1685 1635 concert query
  apps/2CD/concert/backend/specs/resolvers/mutations/concert/createconcert-mutetion.spec.ts
  apps/2CD/concert/backend/specs/resolvers/queries/concert/get-concert-query.spec.ts
  apps/2CD/concert/backend/specs/utils/convertid-fields.spec.ts
  apps/2CD/concert/backend/src/resolvers/mutations/concert/create-concert.mutation.ts
  apps/2CD/concert/backend/src/resolvers/queries/concert/get-concert-query.ts
  apps/2CD/concert/backend/src/resolvers/queries/concert/index.ts
  apps/2CD/concert/backend/src/resolvers/queries/index.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
  apps/2CD/concert/backend/src/schemas/schedule.schema.ts
  apps/2CD/concert/backend/src/utils/converid-fields.ts
Labels: PR status: code ready, backend, concert

#1693 fix: [fix] user mutation fixes
  apps/2CD/tinder/backend/specs/resolvers/mutations/user/login.spec.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/user/login.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/user/register-user.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/user/update-user.ts
Labels: PR status: code ready, backend, tinder

#1672 feat(hotel): add query
  apps/2CD/hotel/backend/specs/resolvers/mutations/create-room.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/queries/get-all-rooms.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/queries/get-room-for-id.spec.ts
  apps/2CD/hotel/backend/src/models/room-service.model.ts
  apps/2CD/hotel/backend/src/models/room.model.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/room/create-room.ts
  apps/2CD/hotel/backend/src/resolvers/queries/room/get-all-rooms.ts
  apps/2CD/hotel/backend/src/resolvers/queries/room/get-room-for-id.ts
  apps/2CD/hotel/backend/src/resolvers/queries/room/get-room.ts
  apps/2CD/hotel/backend/src/schemas/index.ts
  apps/2CD/hotel/backend/src/schemas/room-seervice.schema.ts
  apps/2CD/hotel/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, hotel

#1706 feat(restaurant backend): create new user mutation with test
  apps/2CD/restaurant/backend/specs/resolvers/mutations/userRelatedMutations/createUser.spec.ts
  apps/2CD/restaurant/backend/src/models/user.model.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/create-user.ts
  apps/2CD/restaurant/backend/src/schemas/index.ts
  apps/2CD/restaurant/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, restaurant

#1707 feat(hotel): write delete room and update room
  apps/2CD/hotel/backend/specs/resolvers/mutations/delete-room.spec.ts
  apps/2CD/hotel/backend/specs/resolvers/mutations/update-room.spec.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/room/delete-room.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/room/update-room.ts
  apps/2CD/hotel/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, hotel

#1714 feat: clerk installed
  package.json
  yarn.lock
Labels: PR status: code ready

#1720 feat(restaurant-backend): wallet update
  apps/2CD/restaurant/backend/specs/resolvers/mutations/userRelatedMutations/updateWallet.spec.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/update-wallet.ts
  apps/2CD/restaurant/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, restaurant

#1721 feat(restaurant-foodupdate): restaurant foodUpdate backend created
  apps/2CD/restaurant/backend/specs/resolvers/mutations/createFood.spec.ts
  apps/2CD/restaurant/backend/specs/resolvers/mutations/updateFood.spec.ts
  apps/2CD/restaurant/backend/src/models/food-model.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/foodRelatedMutations/update-food.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/schemas/food.schema.ts
Labels: PR status: code ready, backend, restaurant

#1723 feat(restaurant backend): user login
  apps/2CD/restaurant/backend/specs/resolvers/mutations/userRelatedMutations/loginUser.spec.ts
  apps/2CD/restaurant/backend/specs/resolvers/mutations/userRelatedMutations/userHelpers.spec.ts
  apps/2CD/restaurant/backend/src/models/user.model.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/foodRelatedMutations/create-food.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/create-user.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/user-helpers.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/user-login.ts
  apps/2CD/restaurant/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, restaurant

#1726 feat(created-hotel-review-mutation): created hotel mutation and schema
  apps/2CD/hotel/backend/specs/resolvers/mutations/review-mutations.spec.ts
  apps/2CD/hotel/backend/src/resolvers/index.ts
  apps/2CD/hotel/backend/src/resolvers/mutations/review-mutations.ts
  apps/2CD/hotel/backend/src/schemas/index.ts
  apps/2CD/hotel/backend/src/schemas/review-schema.ts
  apps/2CD/hotel/backend/src/schemas/user-schema.ts
Labels: PR status: code ready, backend, hotel

#1735 feat(concert): get artist query
  apps/2CD/concert/backend/specs/resolvers/queries/artist/get-artist-query.spec.ts
  apps/2CD/concert/backend/src/resolvers/queries/artist/get-atists.ts
  apps/2CD/concert/backend/src/resolvers/queries/artist/index.ts
  apps/2CD/concert/backend/src/resolvers/queries/index.ts
Labels: PR status: code ready, backend, concert

#1738 fix(backend): add total profitn in concert schema and models
  apps/2CD/concert/backend/src/models/concert.model.ts
  apps/2CD/concert/backend/src/schemas/concert.schema.ts
Labels: PR status: code ready, backend, concert

#1739 feat(restaurant backend): change user password
  apps/2CD/restaurant/backend/specs/resolvers/mutations/userRelatedMutations/changePassword.spec.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/index.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/change-password.ts
  apps/2CD/restaurant/backend/src/resolvers/mutations/userRelatedMutations/user-login.ts
  apps/2CD/restaurant/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, restaurant

#1730 feat: user sign in, sign up
  apps/2CD/hotel/frontend/project.json
  apps/2CD/hotel/frontend/src/app/layout.tsx
  apps/2CD/hotel/frontend/src/app/page.tsx
  apps/2CD/hotel/frontend/src/app/sign-in/[[...signin]]/page.tsx
  apps/2CD/hotel/frontend/src/app/sign-up/[[...signup]]/page.tsx
  apps/2CD/hotel/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, hotel

#1736 feat: message resolver adjusted
  apps/2CD/tinder/backend/specs/resolvers/mutations/message/send-message.spec.ts
  apps/2CD/tinder/backend/specs/resolvers/queries/message/get-message.spec.ts
  apps/2CD/tinder/backend/src/resolvers/mutations/message/send-message.ts
  apps/2CD/tinder/backend/src/resolvers/queries/message/get-message.ts
  apps/2CD/tinder/backend/src/schemas/message.schema.ts
  apps/2CD/tinder/backend/src/types/graphql.ts
  apps/2CD/tinder/frontend/src/app/message/[matchId]/page.tsx
  apps/2CD/tinder/frontend/src/app/message/_components/Chat.tsx
Labels: PR status: code ready, frontend, backend, tinder
