Repository pinecone-studio/pinecone-intern-monorepo-2, pull requests merged in 2025-09, with the labels that each got.

#2257 changed query
  apps/2FH/hotelbooking/frontend/src/graphql/hotel/crud-hotel.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/hotel/get-hotels.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/room/hotels.graphql
Labels: PR status: code ready, hotel

#2262 unfollow user back deer ajildag bolson
  apps/2FH/instagram/backend/specs/resolvers/mutations/follow/unfollow-user.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/unfollow-user.ts
  apps/2FH/instagram/backend/src/schemas/follow.schema.ts
Labels: PR status: code ready, backend, instagram

#2265 Create booking back end bug fixed
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/booking/create-book.spec.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/create-book.ts
  apps/2FH/hotelbooking/backend/src/schemas/booking.schema.ts
  apps/2FH/hotelbooking/frontend/src/components/payment/_components/BookingPayment.tsx
Labels: PR status: code ready, backend, hotel

#2269 getme and login resolver
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/user/login.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/user/get-me.spec.ts
  apps/2FH/hotelbooking/backend/src/handler.ts
  apps/2FH/hotelbooking/backend/src/models/user.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/user/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/user/login.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/user/get-me.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/user/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/userSchema/user.schema.ts
Labels: PR status: code ready, backend, hotel

#2280 fixed next.config deploy fix
  apps/2FH/instagram/backend/next.config.js
  apps/2FH/instagram/frontend/codegen.ts
  apps/2FH/instagram/frontend/cypress/utils/all-pages.json
  apps/2FH/instagram/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend, backend, instagram

#2277 2271 fe hotelbooking create booking and jump to confirmed booking
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/create-book.ts
  apps/2FH/hotelbooking/frontend/cypress/utils/all-pages.json
  apps/2FH/hotelbooking/frontend/specs/components/payment/_components/booking-payments.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/payment/_components/confirmedBooking/confirmed-booking.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/payment/payment-parent-component.spec.tsx
  apps/2FH/hotelbooking/frontend/src/app/(private)/booking/[userid]/confirmed/page.tsx
  apps/2FH/hotelbooking/frontend/src/app/(private)/booking/[userid]/history/page.tsx
  apps/2FH/hotelbooking/frontend/src/app/(private)/booking/[userid]/payment/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/payment/PaymentParentComp.tsx
  apps/2FH/hotelbooking/frontend/src/components/payment/_components/BookingPayment.tsx
  apps/2FH/hotelbooking/frontend/src/components/payment/_components/ConfirmedBooking/ConfirmedBooking.tsx
  apps/2FH/hotelbooking/frontend/src/components/privateHeaderAndFooter/Footer.tsx
  apps/2FH/hotelbooking/frontend/src/components/privateHeaderAndFooter/Header.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/UserAuthProvider.tsx
  apps/2FH/hotelbooking/frontend/src/graphql/booking/get-confirmed-booking.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/hoteldetail/hotel.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/room/get-one-room.graphql
Labels: PR status: code ready, frontend, hotel

#2288 errorgui story adding from front
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/StoryCreateDialog.advanced.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/StoryCreateDialog.basic.spec.tsx
  apps/2FH/instagram/frontend/src/components/create-story-dialog/StoryCreateDialog.tsx
Labels: PR status: code ready, frontend, instagram

#2289 feat(backend): forgot-reset-password mutation aldaanii medeelel delge…
  apps/2FH/tinder/backend/specs/resolvers/mutations/forgot-password.spec.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/forgot-reset-password.ts
  apps/2FH/tinder/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, backend, tinder

#2290 profile-create
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-profile-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-profile.success.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-profile-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-profile-success.spec.ts
  apps/2FH/tinder/backend/src/models/profile-model.ts
  apps/2FH/tinder/backend/src/resolvers/queries/get-profile.ts
  apps/2FH/tinder/backend/src/schemas/profile.schema.ts
  apps/2FH/tinder/frontend/codegen.ts
  apps/2FH/tinder/frontend/cypress.config.ts
  apps/2FH/tinder/frontend/cypress/e2e/(main)/profile-creation.cy.tsx
  apps/2FH/tinder/frontend/cypress/e2e/(main)/signin/index.cy.tsx
  apps/2FH/tinder/frontend/cypress/e2e/README.md
  apps/2FH/tinder/frontend/cypress/utils/all-pages.json
  apps/2FH/tinder/frontend/jest.config.ts
  apps/2FH/tinder/frontend/specs/app/(auth)/verifyOtp/hooks/useOtpHooks.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/SignupContainer.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/SignupContext.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/AgeInput.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/Completion.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/GenderSelection.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/ImageUpload.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/InterestedIn.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/basicDetails.spec.tsx
  apps/2FH/tinder/frontend/src/app/create-profile/page.tsx
  apps/2FH/tinder/frontend/src/components/profile/SignupContainer.tsx
  apps/2FH/tinder/frontend/src/components/profile/SignupContext.tsx
  apps/2FH/tinder/frontend/src/components/profile/index.ts
  apps/2FH/tinder/frontend/src/components/profile/steps/AgeInput.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/BasicDetails.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/Completion.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/GenderSelection.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/ImageUpload.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/InterestedIn.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/ProgressBar.tsx
  apps/2FH/tinder/frontend/src/graphql/profile.graphql
  apps/2FH/tinder/frontend/src/utils/profile-validation.ts
Labels: PR status: code ready, frontend, tinder

#2295 login-front done with test
  .github/instructions/nx.instructions.md
  apps/2FH/hotelbooking/backend/src/handler.ts
  apps/2FH/hotelbooking/backend/src/models/user.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/user/create-user.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/user/login.ts
  apps/2FH/hotelbooking/backend/src/schemas/userSchema/user.schema.ts
  apps/2FH/hotelbooking/frontend/cypress/e2e/(public)/login/page.cy.tsx
  apps/2FH/hotelbooking/frontend/specs/components/login/login.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/login/step-one.spec.tsx
  apps/2FH/hotelbooking/frontend/src/app/login/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/login/_components/StepOne.tsx
  apps/2FH/hotelbooking/frontend/src/graphql/user/login.graphql
Labels: PR status: code ready, frontend, hotel

#2300 userluu ordog bolsn
  apps/2FH/instagram/frontend/src/components/userProfile/Followers.tsx
  apps/2FH/instagram/frontend/src/components/userProfile/Followings.tsx
Labels: PR status: code ready, frontend, instagram

#2307 getme
  apps/2FH/hotelbooking/frontend/specs/components/payment/_components/booking-payments.spec.tsx
  apps/2FH/hotelbooking/frontend/src/app/(private)/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/payment/_components/BookingPayment.tsx
  apps/2FH/hotelbooking/frontend/src/components/privateHeaderAndFooter/Header.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/UserAuthProvider.tsx
  apps/2FH/hotelbooking/frontend/src/graphql/user/get-me.graphql
Labels: PR status: code ready, frontend, hotel

#2316 user hoteil nahij hiiw
  apps/2FH/hotelbooking/frontend/specs/components/hoteldetailuser/HotelInfo.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/hoteldetailuser/ShowMore.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/hoteldetailuser/rommInfo.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralForm.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.status.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/Generalmode.buttons.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/Generalmode.form-data.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/useImageUpload.basic.spec.ts
  apps/2FH/hotelbooking/frontend/specs/components/room/useImageUpload.error-handling.spec.ts
  apps/2FH/hotelbooking/frontend/src/app/(public)/hotel/[hotelId]/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/hoteldetail/HotelInfo.tsx
  apps/2FH/hotelbooking/frontend/src/components/hoteldetail/RoomInfo.tsx
  apps/2FH/hotelbooking/frontend/src/components/hoteldetail/ShowMore.tsx
  apps/2FH/hotelbooking/frontend/src/components/hoteldetail/index.ts
  apps/2FH/hotelbooking/frontend/src/components/index.ts
  apps/2FH/hotelbooking/frontend/src/components/room/General.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/GeneralForm.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/GeneralFormFields.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/Generalmode.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/RoomPage.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/SaveHandler.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/SaveHandlerUtils.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/useImageUpload.ts
  apps/2FH/hotelbooking/frontend/src/constants/roomoptions.ts
  apps/2FH/hotelbooking/frontend/src/graphql/hoteldetail/getRooms.graphql
Labels: PR status: code ready, frontend, backend

#2325 create profile done
  apps/2FH/tinder/frontend/jest.config.ts
  apps/2FH/tinder/frontend/specs/components/profile/SignupContext.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/Completion.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/TagSelector.advanced.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/TagSelector.basic.spec.tsx
  apps/2FH/tinder/frontend/specs/components/profile/steps/basicDetails.spec.tsx
  apps/2FH/tinder/frontend/src/app/create-profile/page.tsx
  apps/2FH/tinder/frontend/src/components/profile/SignupContext.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/BasicDetails.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/Completion.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/ImageUpload.tsx
  apps/2FH/tinder/frontend/src/components/profile/steps/TagSelector.tsx
  apps/2FH/tinder/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2FH/tinder/frontend/src/graphql/profile.graphql
  apps/2FH/tinder/frontend/src/utils/tags.ts
Labels: PR status: code ready, frontend, tinder

#2336 searchbar fully workable
  apps/2FH/instagram/backend/specs/resolvers/queries/search-history/get-user-search-history.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/search-history/get-user-search-history.ts
  apps/2FH/instagram/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/2FH/instagram/frontend/specs/components/SearchSideBar.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchInput.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchResults.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchSidebar.basic.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchSidebar.edge-cases.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchSidebar.interactions-1.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchSidebar.interactions.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchedHistory.basic.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchedHistory.edge-cases.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/SearchedHistory.interactions.spec.tsx
  apps/2FH/instagram/frontend/specs/components/searchBar/__mocks__/common-mocks.ts
  apps/2FH/instagram/frontend/specs/components/searchBar/__mocks__/search-sidebar.mocks.ts
  apps/2FH/instagram/frontend/specs/components/searchBar/__mocks__/setup-mocks.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.basic-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.basic.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-1.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-3.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-4.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-5.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-6.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-7.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-8.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.callbacks-9.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.debounced-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.debounced-3.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.debounced.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.edge-cases-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.edge-cases-3.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.edge-cases.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.interactions-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.interactions.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.query-errors-2.spec.ts
  apps/2FH/instagram/frontend/specs/utils/useSearchLogic.query-errors.spec.ts
  apps/2FH/instagram/frontend/src/app/(sidebartai)/layout.tsx
  apps/2FH/instagram/frontend/src/components/SearchSidebar.tsx
  apps/2FH/instagram/frontend/src/components/index.ts
  apps/2FH/instagram/frontend/src/components/searchBar/SearchInput.tsx
  apps/2FH/instagram/frontend/src/components/searchBar/SearchResults.tsx
  apps/2FH/instagram/frontend/src/components/searchBar/SearchSidebar.tsx
  apps/2FH/instagram/frontend/src/components/searchBar/SearchedHistory.tsx
  apps/2FH/instagram/frontend/src/components/searchBar/index.tsx
  apps/2FH/instagram/frontend/src/graphql/searchbar.graphql
  apps/2FH/instagram/frontend/src/utils/fake-data.ts
  apps/2FH/instagram/frontend/src/utils/useSearchLogic.ts
Labels: PR status: code ready, frontend, instagram

#2341 done
  apps/2FH/instagram/backend/src/models/index.ts
  apps/2FH/instagram/backend/src/models/reply.ts
  apps/2FH/instagram/backend/src/models/user.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/create-user-mutation.ts
Labels: PR status: code ready, backend, instagram

#2347 createPOst deletePOst deploy
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/create.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/delete.post.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/create-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/delete-post.ts
Labels: PR status: code ready, backend, instagram

#2353 stories-hemjee-fixed
  apps/2FH/instagram/frontend/src/app/(sidebargui)/stories/[userId]/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebargui)/stories/page.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryViewer.tsx
Labels: PR status: code ready, frontend, instagram

#2363 posts id added to signing
  apps/2FH/instagram/frontend/src/app/(sidebargui)/login/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebargui)/signup/page.tsx
Labels: PR status: code ready, frontend, instagram

#2371 userprofile self post count and see
  apps/2FH/instagram/backend/specs/resolvers/queries/post/get-post-by-author.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/get-posts-by-user-id.ts
  apps/2FH/instagram/frontend/cypress/e2e/(main)/user-profile.cy.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/Post.spec.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/ProfileComponents.advanced.spec.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/ProfileComponents.basic.spec.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/ProfileComponents.stats.spec.tsx
  apps/2FH/instagram/frontend/src/app/(sidebargui)/verify-otp/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebartai)/[userName]/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebartai)/userProfile/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebartai)/userProfile/userProfile.spec.tsx
  apps/2FH/instagram/frontend/src/components/userProfile/Post.tsx
  apps/2FH/instagram/frontend/src/components/userProfile/ProfileComponents.tsx
  apps/2FH/instagram/frontend/src/graphql/queries/postQueries.graphql
Labels: PR status: code ready, frontend, backend, instagram

#2374 backend story querie fix
  apps/2FH/instagram/backend/specs/resolvers/queries/story/getStoryByUserId.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/story/get-story-by-user-id.ts
Labels: PR status: code ready, backend, instagram

#2387 post comment, like,reply,delete,
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-reply.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/updateByLike.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/update-by-likes.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/types/comment.spec.ts
  apps/2FH/instagram/backend/src/resolvers/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-comment-in-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-reply-in-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/update-by-likes.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/update-by-likes.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/get-posts-by-follow-users.ts
  apps/2FH/instagram/backend/src/resolvers/types/comment.ts
  apps/2FH/instagram/backend/src/resolvers/types/index.ts
  apps/2FH/instagram/backend/src/schemas/comment.schema.ts
  apps/2FH/instagram/frontend/specs/components/Posts.spec.tsx
  apps/2FH/instagram/frontend/src/components/Posts.tsx
  apps/2FH/instagram/frontend/src/graphql/mutations/comment.graphql
  apps/2FH/instagram/frontend/src/graphql/mutations/post.graphql
Labels: PR status: code ready, frontend, backend, instagram

#2389 user update profile
  apps/2FH/hotelbooking/frontend/cypress/e2e/profile/Profile.cy.tsx
  apps/2FH/hotelbooking/frontend/cypress/utils/all-pages.json
  apps/2FH/hotelbooking/frontend/specs/components/profile/profile.spec.tsx
  apps/2FH/hotelbooking/frontend/src/app/(private)/user-profile/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/UserAuthProvider.tsx
  apps/2FH/hotelbooking/frontend/src/components/update-profile/ProfileForm.tsx
Labels: PR status: code ready, frontend, hotel

#2388 2368 frontend 1 useriin story duudah
  apps/2FH/instagram/frontend/cypress/e2e/(stories)/user-story.cy.tsx
  apps/2FH/instagram/frontend/cypress/utils/all-pages.json
  apps/2FH/instagram/frontend/specs/app/user-stories/[userId]/page.spec.tsx
  apps/2FH/instagram/frontend/specs/components/stories/StoryContent.spec.tsx
  apps/2FH/instagram/frontend/specs/hooks/useStoryProgress.spec.tsx
  apps/2FH/instagram/frontend/src/app/(sidebargui)/user-stories/[userId]/page.tsx
  apps/2FH/instagram/frontend/src/app/(sidebartai)/userProfile/page.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryContent.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryHeader.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryNavigation.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryProgressBars.tsx
  apps/2FH/instagram/frontend/src/components/stories/StoryViewer.tsx
  apps/2FH/instagram/frontend/src/hooks/useStoryProgress.ts
  apps/2FH/instagram/frontend/tsconfig.spec.json
Labels: PR status: code ready, frontend, instagram
