Repository pinecone-studio/pinecone-intern-monorepo-2, pull requests merged in 2025-08, with the labels that each got.

#2004 create new folder
  apps/2FH/.gitkeep
Labels: PR status: code ready

#2031 feat(fi): fix
  bun.lockb
  nx.json
  package.json
  tailwind.config.js
  yarn.lock
Labels: PR status: code ready

#2033 models
  apps/2FH/instagram/backend/src/models/comment.ts
  apps/2FH/instagram/backend/src/models/follow-request.ts
  apps/2FH/instagram/backend/src/models/index.ts
  apps/2FH/instagram/backend/src/models/notification.ts
  apps/2FH/instagram/backend/src/models/post.ts
  apps/2FH/instagram/backend/src/models/reply.ts
  apps/2FH/instagram/backend/src/models/search-history.ts
  apps/2FH/instagram/backend/src/models/story.ts
  apps/2FH/instagram/backend/src/models/user.ts
Labels: PR status: code ready, backend, instagram

#2036 fixed vercel deployment
  apps/2FH/hotelbooking/backend/project.json
  apps/2FH/hotelbooking/frontend/codegen.ts
  apps/2FH/hotelbooking/frontend/cypress/support/commands.ts
  apps/2FH/hotelbooking/frontend/cypress/utils/all-pages.json
  apps/2FH/hotelbooking/frontend/project.json
Labels: PR status: code ready, hotel

#2034 deploy fixed
  apps/2FH/tinder/backend/.eslintrc.json
  apps/2FH/tinder/backend/codegen.ts
  apps/2FH/tinder/backend/jest.config.ts
  apps/2FH/tinder/backend/main.tf
  apps/2FH/tinder/backend/project.json
  apps/2FH/tinder/backend/tsconfig.json
  apps/2FH/tinder/frontend/.eslintrc.json
  apps/2FH/tinder/frontend/codegen.ts
  apps/2FH/tinder/frontend/cypress/support/commands.ts
  apps/2FH/tinder/frontend/cypress/utils/all-pages.json
  apps/2FH/tinder/frontend/cypress/utils/get-all-pages.ts
  apps/2FH/tinder/frontend/jest.config.ts
  apps/2FH/tinder/frontend/main.tf
  apps/2FH/tinder/frontend/project.json
  apps/2FH/tinder/frontend/tsconfig.json
Labels: PR status: code ready, backend, tinder

#2046 story schema added
  apps/2FH/instagram/backend/src/models/user.ts
  apps/2FH/instagram/backend/src/schemas/story.schema.ts
  apps/2FH/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, instagram

#2066 comment-scheme.ts all mutations
  apps/2FH/instagram/backend/src/schemas/comment.schema.ts
Labels: PR status: code ready, backend, instagram

#2085 user & profile mutations
  apps/2FH/tinder/backend/index.d.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-profile-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-profile.success.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-user-errors.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/2FH/tinder/backend/src/app/api/graphql/route.ts
  apps/2FH/tinder/backend/src/models/index.ts
  apps/2FH/tinder/backend/src/models/match-model.ts
  apps/2FH/tinder/backend/src/models/profile-model.ts
  apps/2FH/tinder/backend/src/models/user-model.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/create-profile-mutation.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/create-user.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/index.ts
  apps/2FH/tinder/backend/src/resolvers/queries/index.ts
  apps/2FH/tinder/backend/src/schemas/index.ts
  apps/2FH/tinder/backend/src/schemas/matches.schema.ts
  apps/2FH/tinder/backend/src/schemas/profile.schema.ts
  apps/2FH/tinder/backend/src/schemas/user-schema.ts
Labels: PR status: code ready, backend, tinder

#2084 room query mutation test
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/room/create.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/room/delete.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/room/update.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/room/get.room.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/room/get.rooms.hotel.spec.ts
  apps/2FH/hotelbooking/backend/src/models/room.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/room/create-room.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/room/delete-room.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/room/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/room/update.room.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/room/get-room.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/room/get-rooms-hotel.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/room/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/room.schema.ts
Labels: PR status: code ready, backend, hotel

#2118 comment resolver,spec:mutations
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/delete-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/update-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/create.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/delete.post.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment-mutations/create-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment-mutations/delete-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment-mutations/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment-mutations/update-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post-mutation/create-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post-mutation/delete-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post-mutation/index.ts
  apps/2FH/instagram/backend/src/schemas/comment.schema.ts
  apps/2FH/instagram/backend/src/schemas/index.ts
  apps/2FH/instagram/backend/src/schemas/post.schema.ts
  apps/2FH/instagram/backend/src/schemas/reply.schema.ts
Labels: PR status: code ready, backend, instagram, test

#2120 login mutation and test
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/login-spec-errors.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/login-user.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/login-user-mutation.ts
Labels: PR status: code ready, backend, instagram

#2123 delete added
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/create.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/delete.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/delete-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/create-story.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/delete-story.ts
Labels: PR status: code ready, backend, instagram

#2126 added story view mutation
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/delete-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/update-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/create.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/delete.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/view-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/delete-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/update-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/create-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/delete-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/view-story.ts
Labels: PR status: code ready, backend, instagram

#2132 get-story
  apps/2FH/instagram/backend/specs/resolvers/queries/get-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/get-story.ts
  apps/2FH/instagram/backend/src/types/context.ts
  apps/2FH/instagram/backend/tsconfig.json
  apps/2FH/instagram/backend/tsconfig.spec.json
Labels: PR status: code ready, backend, instagram

#2144 fixed bcrypt to bcryptjs
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/user/create-user.ts
Labels: PR status: code ready, backend, hotel

#2140 bolson blgvde
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-user-errors.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/create-user.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/index.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/sendmessage-format-only.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/sendmessage-socket-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/sendmessage-success.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/mutations/sendmessage-validation-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-basic-success.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-database-failures.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-edge-cases.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-error-edge-cases.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-falsy-values.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-filtering.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-formatting-edge-cases.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-messages-validation-failures.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-single-message.spec.ts
  apps/2FH/tinder/backend/src/app/page.tsx
  apps/2FH/tinder/backend/src/models/message-model.ts
  apps/2FH/tinder/backend/src/models/user-model.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/create-user.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/index.ts
  apps/2FH/tinder/backend/src/resolvers/mutations/sendmessage-mutation.ts
  apps/2FH/tinder/backend/src/resolvers/queries/get-messages.formatting.ts
  apps/2FH/tinder/backend/src/resolvers/queries/get-messages.resolvers.ts
  apps/2FH/tinder/backend/src/resolvers/queries/get-messages.types.ts
  apps/2FH/tinder/backend/src/resolvers/queries/get-messages.validation.ts
  apps/2FH/tinder/backend/src/resolvers/queries/index.ts
  apps/2FH/tinder/backend/src/schemas/index.ts
  apps/2FH/tinder/backend/src/schemas/message-schema.ts
  apps/2FH/tinder/backend/src/server.ts
  apps/2FH/tinder/frontend/codegen.ts
  package.json
  yarn.lock
Labels: PR status: code ready, backend, tinder

#2141 forgot, reset mutation, testing
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/forgot-password-errors.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/forgot-password.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/reset-password-errors.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/reset-password.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/verify-otp.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/forgot-password-mutation.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/reset-password-mutation.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/verify-otp-mutation.ts
  apps/2FH/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, instagram

#2151 fixed
  apps/2FH/instagram/backend/next.config.js
Labels: PR status: code ready, backend, instagram

#2155 get-story-by-id[backend]
  apps/2FH/instagram/backend/specs/resolvers/queries/get-story.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/story/getStoryById.spec.ts
  apps/2FH/instagram/backend/src/models/story.ts
  apps/2FH/instagram/backend/src/resolvers/queries/get-story.ts
  apps/2FH/instagram/backend/src/resolvers/queries/story/get-story-by-id.ts
Labels: PR status: code ready, backend, instagram

#2160 added authentication
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/delete-user.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/update-user-errors.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/user/update-user.spec.ts
  apps/2FH/instagram/backend/src/handler.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/delete-user-mutation.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/user/update-user-mutation.ts
  apps/2FH/instagram/backend/src/schemas/user.schema.ts
  apps/2FH/instagram/backend/src/types/context-user.ts
  apps/2FH/instagram/backend/src/utils/auth.ts
  apps/2FH/instagram/backend/src/utils/index.ts
  apps/2FH/instagram/backend/src/utils/jwt.ts
Labels: PR status: code ready, backend, instagram

#2167 fixed
  apps/2FH/instagram/backend/next.config.js
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/create-story.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/delete-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/create-story.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/delete-story.ts
Labels: PR status: code ready, backend, instagram

#2153 2082 backend user crud emergency contact backend
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/emergency-contact/create-emergency-contact.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/emergency-contact/delete-emergency-contact.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/emergency-contact/update-emergency-contact.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/emergency/get-all-emergency-contact.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/emergency/get-emergency-contact-by-id.spec.ts
  apps/2FH/hotelbooking/backend/src/models/emergency-contact.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/emergency-contact/create-emergency-contact.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/emergency-contact/delete-emergency-contact.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/emergency-contact/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/emergency-contact/update-emergency-contact.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/emergency-contact/get-all-emergency-contacts.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/emergency-contact/get-emergency-contact-by-id.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/emergency-contact/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/emergency-contact.schema.ts
  apps/2FH/hotelbooking/backend/src/schemas/index.ts
Labels: PR status: code ready, backend, hotel

#2171 2161 frontendlogintemuulen
  apps/2FH/tinder/backend/specs/resolvers/queries/get-profile-failure.spec.ts
  apps/2FH/tinder/backend/specs/resolvers/queries/get-profile-success.spec.ts
  apps/2FH/tinder/frontend/cypress/e2e/(public)/login/index.cy.tsx
  apps/2FH/tinder/frontend/cypress/utils/all-pages.json
  apps/2FH/tinder/frontend/project.json
  apps/2FH/tinder/frontend/public/logo.png
  apps/2FH/tinder/frontend/src/app/layout.tsx
  apps/2FH/tinder/frontend/src/app/login/page.tsx
  apps/2FH/tinder/frontend/tailwind.config.js
  package.json
Labels: PR status: code ready, backend, tinder

#2183 backend create -reply mutations
  apps/2FH/instagram/backend/specs/resolvers/mutations/reply/create-reply.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/reply/delete-reply.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/reply/update-reply.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/reply/create-reply.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/reply/delete-reply.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/reply/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/reply/update-reply.ts
  apps/2FH/instagram/backend/src/schemas/reply.schema.ts
  apps/2FH/instagram/frontend/src/components/userProfile/Post.tsx
Labels: PR status: code ready, backend, instagram

#2193 user update when story added
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/create-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/create-story.ts
Labels: PR status: code ready, backend, instagram

#2181 get-user-by-id
  apps/2FH/instagram/backend/specs/resolvers/queries/user/get-user-by-id.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/index.ts
  apps/2FH/instagram/backend/src/resolvers/queries/user/get-user-by-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/user/index.ts
Labels: PR status: code ready, backend, instagram

#2199 e2e homepage signin
  apps/2FH/tinder/frontend/.eslintrc.json
  apps/2FH/tinder/frontend/cypress/e2e/(main)/home-page.cy.tsx
  apps/2FH/tinder/frontend/cypress/e2e/(public)/login/index.cy.tsx
  apps/2FH/tinder/frontend/cypress/e2e/(public)/signin/index.cy.tsx
  apps/2FH/tinder/frontend/cypress/utils/all-pages.json
  apps/2FH/tinder/frontend/src/app/page.tsx
  apps/2FH/tinder/frontend/src/app/signin/page.tsx
  apps/2FH/tinder/frontend/src/components/providers/BackgroundGradients.tsx
  apps/2FH/tinder/frontend/src/components/providers/Footer.tsx
  apps/2FH/tinder/frontend/src/components/providers/Header.tsx
  apps/2FH/tinder/frontend/src/components/providers/index.ts
Labels: PR status: code ready, frontend, tinder

#2200 get-user-by-username
  apps/2FH/instagram/backend/specs/resolvers/queries/user/get-user-by-username.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/user/get-user-by-username.ts
  apps/2FH/instagram/backend/src/resolvers/queries/user/index.ts
Labels: PR status: code ready, backend, instagram

#2208 signup login (unit test)
  apps/2FH/instagram/frontend/.eslintrc.json
  apps/2FH/instagram/frontend/codegen.ts
  apps/2FH/instagram/frontend/cypress/e2e/(auth)/login-page.cy.tsx
  apps/2FH/instagram/frontend/cypress/e2e/(auth)/signup-page.cy.tsx
  apps/2FH/instagram/frontend/cypress/support/commands.ts
  apps/2FH/instagram/frontend/cypress/support/indets.d.ts
  apps/2FH/instagram/frontend/cypress/utils/all-pages.json
  apps/2FH/instagram/frontend/cypress/utils/intercept-graphql.ts
  apps/2FH/instagram/frontend/public/Instagram_logo.svg
  apps/2FH/instagram/frontend/specs/apps/login/page.spec.tsx
  apps/2FH/instagram/frontend/specs/apps/signup/page.spec.tsx
  apps/2FH/instagram/frontend/specs/apps/userProfile/page.spec.tsx
  apps/2FH/instagram/frontend/specs/components/assets/BoardSvg.spec.tsx
  apps/2FH/instagram/frontend/specs/components/assets/SaveSvg.spec.tsx
  apps/2FH/instagram/frontend/specs/components/assets/SettingsSvg.spec.tsx
  apps/2FH/instagram/frontend/specs/components/auth/ErrorDisplay.spec.tsx
  apps/2FH/instagram/frontend/specs/components/auth/types.spec.ts
  apps/2FH/instagram/frontend/specs/components/auth/validation.spec.ts
  apps/2FH/instagram/frontend/specs/components/providers/ApolloWrapper.spec.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/Post.spec.tsx
  apps/2FH/instagram/frontend/specs/components/userProfile/format-number.spec.ts
  apps/2FH/instagram/frontend/specs/components/userProfile/mock-images.spec.ts
  apps/2FH/instagram/frontend/src/app/login/page.tsx
  apps/2FH/instagram/frontend/src/app/signup/page.tsx
  apps/2FH/instagram/frontend/src/components/auth/ErrorDisplay.tsx
  apps/2FH/instagram/frontend/src/components/auth/types.ts
  apps/2FH/instagram/frontend/src/components/auth/validation.ts
  apps/2FH/instagram/frontend/src/components/providers/ApolloWrapper.tsx
Labels: PR status: code ready, frontend, instagram

#2213 instagram follow user
  apps/2FH/instagram/backend/specs/resolvers/mutations/follow/acceptFollowRequest.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/follow/follow-user.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/follow/rejectFollowRequest.spec.ts
  apps/2FH/instagram/backend/src/handler.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/accept-follow-request.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/follow-user.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/follow/reject-follow-request.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/index.ts
  apps/2FH/instagram/backend/src/schemas/follow.schema.ts
  apps/2FH/instagram/backend/src/schemas/index.ts
  apps/2FH/instagram/backend/src/schemas/user.schema.ts
Labels: PR status: code ready, backend, instagram

#2204 User Sign up FE,BE and OTP done. Lint, e2e,unit done
  .cursor/mcp.json
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/email/send-otp.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/email/verify-otp.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/emergency-contact/update-emergency-contact.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/user/create-user.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/user/delete-user.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/user/index.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/user/update-user.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/index.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/user/get-one-user-by-email.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/user/get-one-user-by-id.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/user/get-users.spec.ts
  apps/2FH/hotelbooking/backend/src/models/otp-model.ts
  apps/2FH/hotelbooking/backend/src/models/user.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/email/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/email/send-otp.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/email/verify-otp.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/emergency-contact/update-emergency-contact.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/otpSchema/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/otpSchema/otp.schema.ts
  apps/2FH/hotelbooking/backend/src/schemas/userSchema/user.schema.ts
  apps/2FH/hotelbooking/backend/src/types/index.d.ts
  apps/2FH/hotelbooking/backend/src/utils/sent-email.ts
  apps/2FH/hotelbooking/frontend/.eslintrc.json
  apps/2FH/hotelbooking/frontend/codegen.ts
  apps/2FH/hotelbooking/frontend/cypress/e2e/(public)/login/page.cy.tsx
  apps/2FH/hotelbooking/frontend/cypress/e2e/(public)/signup/_components/enter-email.cy.tsx
  apps/2FH/hotelbooking/frontend/cypress/e2e/(public)/signup/page.cy.tsx
  apps/2FH/hotelbooking/frontend/cypress/utils/all-pages.json
  apps/2FH/hotelbooking/frontend/public/images/PediaLogo.png
  apps/2FH/hotelbooking/frontend/specs/components/login/step-one.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/signup/email-validate.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/signup/enter-email.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/signup/enter-password.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/signup/resendotp/re-send-otp.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/utils/ErrorBoundary.tsx
  apps/2FH/hotelbooking/frontend/src/app/layout.tsx
  apps/2FH/hotelbooking/frontend/src/app/login/page.tsx
  apps/2FH/hotelbooking/frontend/src/app/signup/page.tsx
  apps/2FH/hotelbooking/frontend/src/components/login/_components/StepOne.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/ApolloWrapper.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/UserAuthProvider.tsx
  apps/2FH/hotelbooking/frontend/src/components/providers/index.ts
  apps/2FH/hotelbooking/frontend/src/components/signup/_components/EmailValidate.tsx
  apps/2FH/hotelbooking/frontend/src/components/signup/_components/EnterEmail.tsx
  apps/2FH/hotelbooking/frontend/src/components/signup/_components/EnterPassword.tsx
  apps/2FH/hotelbooking/frontend/src/components/signup/_components/assets/LoadingSvg.tsx
  apps/2FH/hotelbooking/frontend/src/components/signup/_components/resendotp/ReSendOtp.tsx
  apps/2FH/hotelbooking/frontend/src/graphql/email/email-otp.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/email/verify-email-otp.graphql
  apps/2FH/hotelbooking/frontend/src/graphql/user/create-user.graphql
  apps/2FH/hotelbooking/frontend/tsconfig.json
  debug.txt
Labels: PR status: code ready, frontend, backend, hotel

#2216 HOTELBOOKING-BACKEND-BOOKING
  apps/2FH/hotelbooking/backend/specs/resolvers/common/booking-status.mapper.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/booking/create-book.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/booking/delete-booking.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/booking/update-booking.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/bookings.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-book-by-checkout-date.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-book-by-hotel-id.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-book-by-room-id.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-book-by-user-id.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-book-checkin-date.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/booking/get-booking.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/queries/index.spec.ts
  apps/2FH/hotelbooking/backend/src/app/globals.css
  apps/2FH/hotelbooking/backend/src/app/layout.tsx
  apps/2FH/hotelbooking/backend/src/app/page.tsx
  apps/2FH/hotelbooking/backend/src/resolvers/common/booking-status.mapper.ts
  apps/2FH/hotelbooking/backend/src/resolvers/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/create-book.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/delete-booking.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/update-booking.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/bookings.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-book-by-checkout-date.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-book-by-hotel-id.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-book-by-room-id.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-book-by-user-id.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-book-checkin-date.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/get-booking.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/booking/index.ts
  apps/2FH/hotelbooking/backend/src/resolvers/queries/index.ts
  apps/2FH/hotelbooking/backend/src/schemas/booking.schema.ts
  apps/2FH/hotelbooking/backend/src/schemas/common.schema.ts
  apps/2FH/hotelbooking/backend/src/schemas/index.ts
  apps/2FH/hotelbooking/backend/src/utils/convert-mongoose.ts
  apps/2FH/hotelbooking/backend/src/utils/transform-booking.ts
  apps/2FH/hotelbooking/backend/src/utils/validate-booking-data.ts
  debug.txt
  tools/scripts/export-action-env.sh
Labels: PR status: code ready, backend, hotel

#2219 watch stories FE
  apps/2FH/instagram/frontend/cypress/e2e/(main)/stories.cy.tsx
  apps/2FH/instagram/frontend/cypress/utils/all-pages.json
  apps/2FH/instagram/frontend/specs/apps/stories/page.spec.tsx
  apps/2FH/instagram/frontend/specs/apps/stories/story-images.spec.tsx
  apps/2FH/instagram/frontend/src/app/stories/page.tsx
  apps/2FH/instagram/frontend/src/app/user-profile/[user-id]/page.tsx
  apps/2FH/instagram/frontend/src/components/stories/story-images.ts
  apps/2FH/instagram/frontend/tailwind.config.js
Labels: PR status: code ready, frontend, instagram

#2230 room uruu nemew and nemj test zasaw
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/booking/create-book.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/room/create.spec.ts
  apps/2FH/hotelbooking/backend/specs/resolvers/mutations/room/update.spec.ts
  apps/2FH/hotelbooking/backend/src/models/room.model.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/booking/create-book.ts
  apps/2FH/hotelbooking/backend/src/resolvers/mutations/room/create-room.ts
  apps/2FH/hotelbooking/backend/src/schemas/booking.schema.ts
  apps/2FH/hotelbooking/backend/src/schemas/room.schema.ts
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralForm.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.bednumber.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.name.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.price.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/GeneralFormFields.type.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/Generalmode.buttons.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/Generalmode.form-data.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/Generalmode.parseint.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/SaveHandlerUtils.createRoomData.basic.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/SaveHandlerUtils.createRoomData.hotelId.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/SaveHandlerUtils.createRoomData.price.spec.tsx
  apps/2FH/hotelbooking/frontend/specs/components/room/SaveHandlerUtils.spec.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/General.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/GeneralForm.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/GeneralFormFields.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/Generalmode.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/RoomPage.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/SaveHandler.tsx
  apps/2FH/hotelbooking/frontend/src/components/room/SaveHandlerUtils.tsx
  apps/2FH/hotelbooking/frontend/src/graphql/all.graphql
Labels: PR status: code ready, frontend, backend

#2228 post queries and update mutation
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/delete.post.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/update-by-likes.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/post/get-post-by-author.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/post/get-post-by-follow-users.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/post/get-post-by-id.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/delete-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/update-by-likes.ts
  apps/2FH/instagram/backend/src/resolvers/queries/index.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/get-post-by-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/get-posts-by-follow-users.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/get-posts-by-user-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/post/index.ts
  apps/2FH/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, backend, instagram, test

#2236 comemnt muatation and query and test
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-comment.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/create-reply.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/comment/updateByReply.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/mutations/post/update-post-by-caption.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/comment/get-comment-by-id.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/comment/get-comments-by-parent-id.spec.ts
  apps/2FH/instagram/backend/src/models/comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-comment-in-post.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/create-reply-in-comment.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/comment/update-by-reply.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/index.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/post/update-by-caption.ts
  apps/2FH/instagram/backend/src/resolvers/queries/comment/get-comment-by-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/comment/get-comments-by-parent-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/comment/index.ts
  apps/2FH/instagram/backend/src/schemas/comment.schema.ts
  apps/2FH/instagram/backend/src/schemas/post.schema.ts
Labels: PR status: code ready, backend, instagram, test

#2243 author by user
  apps/2FH/instagram/backend/specs/resolvers/mutations/story/create-story.spec.ts
  apps/2FH/instagram/backend/src/resolvers/mutations/story/create-story.ts
  apps/2FH/instagram/backend/src/schemas/story.schema.ts
Labels: PR status: code ready, backend, instagram

#2244 backend frontend holboh jinhene data ashiglan stories haruulah
  apps/2FH/instagram/backend/specs/resolvers/queries/story/getActiveStories.spec.ts
  apps/2FH/instagram/backend/specs/resolvers/queries/story/getStoryByUserId.spec.ts
  apps/2FH/instagram/backend/src/resolvers/queries/story/get-active-stories.ts
  apps/2FH/instagram/backend/src/resolvers/queries/story/get-story-by-user-id.ts
  apps/2FH/instagram/backend/src/resolvers/queries/story/index.ts
  apps/2FH/instagram/backend/src/schemas/story.schema.ts
  apps/2FH/instagram/frontend/src/graphql/queries/storyQueries.graphql
Labels: PR status: code ready, frontend, backend, instagram

#2233 added cloudinary, connected story backend
  apps/2FH/hotelbooking/frontend/specs/components/room/useImageUpload.basic.spec.ts
  apps/2FH/hotelbooking/frontend/specs/components/room/useImageUpload.error-handling.spec.ts
  apps/2FH/hotelbooking/frontend/src/components/room/useImageUpload.ts
  apps/2FH/instagram/backend/src/schemas/story.schema.ts
  apps/2FH/instagram/frontend/specs/components/HomePageStories.spec.tsx
  apps/2FH/instagram/frontend/specs/components/SideBar.part2.spec.tsx
  apps/2FH/instagram/frontend/specs/components/SideBar.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/DialogActions.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/FilePreview.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/FileUploadArea.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/StoryCreateDialog.advanced.spec.tsx
  apps/2FH/instagram/frontend/specs/components/create-story-dialog/StoryCreateDialog.basic.spec.tsx
  apps/2FH/instagram/frontend/src/components/Sidebar.tsx
  apps/2FH/instagram/frontend/src/components/create-story-dialog/DialogActions.tsx
  apps/2FH/instagram/frontend/src/components/create-story-dialog/FilePreview.tsx
  apps/2FH/instagram/frontend/src/components/create-story-dialog/FileUploadArea.tsx
  apps/2FH/instagram/frontend/src/components/create-story-dialog/StoryCreateDialog.tsx
  apps/2FH/instagram/frontend/src/graphql/story.graphql
  apps/2FH/instagram/frontend/tsconfig.tsbuildinfo
Labels: PR status: code ready, frontend, instagram

#2250 post schema fixed
  apps/2FH/instagram/backend/src/schemas/story.schema.ts
  apps/2FH/instagram/backend/src/schemas/user.schema.ts
  apps/2FH/instagram/frontend/src/app/(sidebargui)/stories/page.tsx
Labels: PR status: code ready, backend, instagram
